
.header{
    background: var(--gray-800);
    display: flex;
    width: auto;
    height: 4.375rem;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0; 
}
.header img{
    width: 3.125rem;
    height: 3.125rem;
    padding-right: .625rem;
}